table {
	width: 50%;
}
table a {
	font-weight:bold;
	font-size: 1.5em;
}
pre {
	background: #efefef;
	border: 1px solid black;
}
.kw {
	color: red;
}
.lsys {
	color: green;
}
.arg {
	color: magenta;
}
.spc {
	color: blue;
}
